vendor
vendor/*
/app/tmp/*
app/tmp/*
tmp/*
*.log
._*
.~lock.*
.buildpath
.project
.settings
.idea
composer.lock
coverage.clover
/resources/cache
/resources/cache/*
resources/cache
resources/cache/*
/build/
